<h1>Toutes les œuvres sont sur Le Cultivateur</h1>

<% @oeuvres_sorted_by_author.each do |oeuvre| %>
  <ul>
    <li><%= "L'œuvre de #{oeuvre.author}, #{oeuvre.name}," %> se trouve dans le projet <%= link_to oeuvre.project.name, project_path(oeuvre.project_id) %></li>
  </ul>
<% end %>
